.iddyprofile {
	margin:0;
	padding:0;
	font-size:100%;
	width:400px;
	}

.iddyprofiletitle {
	margin:0 0 1px 0;
	padding:10px;
	font-size:90%;
	font-weight:bold;
	background:#ece3a6;
	}

.iddyprofilebody {
	margin:0;
	padding:10px;
	font-size:80%;
	background:#f5f1d1;
	}

.iddyprofilephoto {
	margin:0;
	padding:0;
	}

.iddyprofilephoto img {
	margin:0 10px 10px 0;
	padding:5px;
	border:1px solid #eee;
	background:#fff;
	width:60px;
	height:60px;
	float:left;
	}

.iddyprofilename {
	margin:0;
	padding:0;
	}

.iddyprofilename span {
	display:block;
	}

.iddyprofiledescription {
	margin:0 0 10px 0;
	padding:0;
	clear:both;
	}

.iddyprofilemore {
	margin:0 0 5px 0;
	padding:10px;
	background:#fff;
	width:160px;
	}

.iddyprofilemore a {
	margin:0;
	padding:0 0 0 20px;
	color:#000;
	text-decoration:none;
	background:url(https://iddy.jp/image/tool/arrow_j.png) no-repeat left center;
	display:block;
	}

.poweredbyiddy {
	margin:0;
	padding:0;
	font-size:80%;
	text-align:right;
	}

.poweredbyiddy a {
	color:#9e9453;
	text-decoration:none;
	display:block;
	}
